<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
            aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (dark)">
        <i class="fa-solid fa-moon bi my-1 theme-icon-active">
            <use href="#fa-moon"></use>
        </i>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light"
                    aria-pressed="false">
                <i class="fa-solid fa-sun bi me-2 opacity-50 theme-icon">
                    <use href="#fa-sun"></use>
                </i>
                Light
                <i class="fa-solid fa-check bi ms-auto d-none"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark"
                    aria-pressed="true">
                <i class="fa-solid fa-moon bi me-2 opacity-50 theme-icon">
                    <use href="#fa-moon"></use>
                </i>
                Dark
                <i class="fa-solid fa-check bi ms-auto d-none"></i>
            </button>
        </li>
        <li>
            <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                    aria-pressed="false">
                <i class="fa-solid fa-circle-half-stroke bi me-2 opacity-50 theme-icon">
                    <use href="#fa-circle-half-stroke"></use>
                </i>
                Auto
                <i class="fa-solid fa-check bi ms-auto d-none"></i>
            </button>
        </li>
    </ul>
</div>