<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="auto">
<head>
    <%- include('partials/head', {title: 'Home'}); %>
    <link href='/stylesheets/dashboard.css' rel="stylesheet">
</head>
<body>
<div class="container-fluid text-bg-dark">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark dashboard-navbar">
            <%- include('partials/dashboard-navbar'); %>
        </div>
        <div class="col py-3 dashboard-content" id="dashboard-content">
        </div>
    </div>
</div>
<%- include('partials/script'); %>
<script src="/javascripts/dashboard.js"></script>
</body>
</html>
