<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="auto">
<head>
    <%- include('partials/head', {title: 'Home'}); %>
    <link href='/stylesheets/dashboard.css' rel="stylesheet">
</head>
<body>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</body>
</html>
