html, body {
    overflow: hidden;
    height: 100vh;
}

main {
    height: 100%;
}

main > .row {
    height: 100%;
}

.dashboard-navbar {
    height: 100%;
    padding: 0px !important;
    -webkit-box-shadow: 0 0 20px 1px #000000;
    box-shadow: 0 0 20px 1px #000000;
}

.dashboard-content {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    height: 100%;
}

